<ng-container *ngIf="products$ | async as productList; else loading">
  <button class="btn btn-primary" (click)="more()">More Products</button>
  <div class="alert alert-warning">Product Number:</div>
  <div class="row">
    <div *ngFor="let product of productList" class="col-4">
      <img
        class="rounded-circle"
        src="{{ product.thumbnail }}"
        width="150px"
        height="150px"
      />
      {{ product.title }}
    </div>
  </div>
</ng-container>

<ng-template #loading> Loading... </ng-template>
